
#cardArea{
 width:600px;
 height:350px;
 margin:auto;
 text-align: center;
 border:3px solid #ABB7B7;
 position:relative;
 overflow:hidden;
}
.card{
 width:600px;
 height:350px;
 position:absolute;
 text-align:center;
 padding: 10px;
 font-size:34px;
 color:#efefef;
 font-family:Montserrat,Arial;
 cursor:pointer;
}


#finalMessage{
 text-align:center;
 font-size:30px;
 margin-top:30px;
 font-family:Montserrat,Arial;
}
